---
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config';
---

<script>
  const active = document.getElementById('leaderboards');
  const classes = active.classList;
  classes.add('active');
  var d = document.getElementById('leaderboards');
  d.className += ' active';
</script>

<meta
  name="description"
  content="Mazecraft Leaderboards: Recorded achievements from players traversing the maze!"
/>

<Layout title={SITE.title}>
  <div id="main">
    <section id="content1">
      <h1>Leaderboards</h1>
      <ul class="actions">
        <li><a href="#" class="button primary">Current Distances</a></li>
      </ul>
      <table id="leaderboard">
        <tr id="leaderboardHeader">
          <td>Position</td><td>Player</td><td>Score</td>
        </tr>
      </table>
      <div id="buttonContainer"></div>
    </section>
  </div>
  <script src="../scripts/leaderboard.js"></script>
</Layout>
