---
import { CONTACT, SOCIAL_MEDIA_ITEMS } from 'src/config';
---

<footer id="footer">
  <section>
    <h3>Server IP:</h3>
	<p><code>mazecraft.thorinwasher.dev</code>
  </section>
  <section>
    <h3>Support:</h3>
	<a href="/rules">Rules</a> &emsp; <a href="/privacy">Privacy Policy</a> &emsp;	<a href="/discord">Report a Player</a> &emsp; <a href="https://mazecraft.thorinwasher.dev/discord">Appeals</a>
  </section>
	<meta name="description" content="Mazecraft: A programming contest to navigate an infinite and constantly regenerating maze.">
	<meta name="keywords" content="Minecraft, Mazecraft, Leaderboard, Tree Traversal, Micromouse">
	<meta name="author" content="Mazecraft">
	<meta data-rh="true" property="twitter:image" content="https://github.com/The-MazeCraft-Contest/mazecraft.thorinwasher.dev/assets/49039536/4643a520-faf8-4e5c-a97c-72ad82e06489">
	<meta name="theme-color" content="#131321">
</footer>